body{
    display:block;
    background-image: url("background.jpg");
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    overflow: hidden;
}

#clockcircle{
    height: 30vw;
    width: 30vw;
    position: relative;
    left: 35%;
    margin-top: 10vw;
    border: 6px solid RGBA(136,170,255,0.7);
    border-radius: 100%;
    background-color: RGBA(136,170,255,0.1);
    z-index: 0;
}

#axe{
    position: absolute;
    border: 1vw solid RGBA(60,60,60,0.9);
    border-radius: 100%;
    top: 47%;
    left: 47%;
    z-index: 100;
}

#hours{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9vw;
    border: 5px solid white;
    transform: rotate(-90deg);
    transform-origin: 0%;
    transition: 0.1s cubic-bezier(1, 0.33, 1, 2.43);
    background-color: white;
    z-index: 60;
}

#minutes{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12vw;
    border: 5px solid white;
    transform: rotate(-90deg);
    transform-origin: 0%;
    transition: 0.1s cubic-bezier(1, 0.33, 1, 2.43);
    background-color: white;
    z-index: 20;
}

#seconds{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13vw;
    border: 2px solid red;
    transform: rotate(-90deg);
    transform-origin: 0%;
    transition: 0.1s cubic-bezier(1, 0.33, 1, 2.43);
    background-color: white;
    z-index: 40;
}